@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
	var ContactBanner = Model.Value<IPublishedContent>("contactBanner")?.Url() ?? "";
	var SocialLinks = Model.Value<IEnumerable<BlockListItem>>("socialMediaIcons");
}

<div class="banner_sec contact_banner">
	<div class="container max_w_965">
		<div class="page_head">
			<h2 class="m-0">@Model.Value("contactUsTitle")</h2>
		</div>
	</div>
</div>

<div class="contact_page py_60 gray_bg">
	<div class="container max_w_965">
		<div class="mb-4">
			@Model.Value("loremIpsumDescription")
		</div>

		<div class="row pt-3">
			<div class="col-md-5">
				<div class="contct_info">
					@Model.Value("contactInfo")
					<div>
						<h4>@Model.Value("connectHeading")</h4>
						<div class="social_media">
							@if (SocialLinks != null)
							{
								foreach (var SocialLink in SocialLinks)
								{
									var content = SocialLink.Content;
									var Target = content.Value<string>("Target");
									var Image = content.Value<IPublishedContent>("image");
									var ToolTip = content.Value<string>("tooltipText");
									var socialMediaURL = content.Value<string>("socialMediaURL");

									@if (SocialLink != null)
									{
										<a href="@socialMediaURL" title="@ToolTip" target="@Target"><img src="@Image.Url()" /></a>
									}
								}
							}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="contact_form">
                @await Html.PartialAsync("Contact Form PV")
					

				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.contact_banner {
		background: url(@ContactBanner) no-repeat;
		background-size: cover;
	}
</style>							
            